<%= form_for @project do |f| %>

<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %></br>
	<%= f.label :category_id %><br>
	<%= f.text_field :category_id %>
	<% if @project.errors.any? %>
	<%= @project.errors.messages[:title][0] %>
	<% end %>
</p>
	<%= f.submit %>

<p>
</p>

<% end %>